checkpoints/**/*.pt
pretrained/

data/raw/kermany/NORMAL/*
!data/raw/kermany/NORMAL/.gitkeep
data/raw/kermany/PNEUMONIA/*
!data/raw/kermany/PNEUMONIA/.gitkeep

scripts/checkpoints/
scripts/embeddings/

__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
*.bak
logs/
structure.txt
